body {
	margin: 0;
}

#navbar {
	display: flex;
	justify-content: space-between;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 1%;
}

#navbarWrapper {
	background-color: #d9d3bf;
	padding-bottom: 2rem;
}

#logoutMetNaam {
	display: Flex;
	flex-direction: row;
}

#line1 {
	width: 95%;
	transform: rotate(0deg);
	border: 0.5px solid #333333;
	margin-left: 2%;
}

#animalshelter {
	color: #333333;
	font-size: 25px;
	font-family: Inter;
	line-height: auto;
	border-style: hidden;
	font-weight: normal;
}

#navLeft a {
	display: flex;
	align-items: flex-end;
	text-decoration: none;
}

#navItem {
	margin-right: 2rem;
}

#navRight {
	display: flex;
	align-items: flex-end;
	padding: 0 5% 0 0;
}
/* Remove default button styles */
.logout-form button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  text-align:center;
  align-items: flex-end;
  display:flex;
}
.logout-form button p {
  
  margin:0;
}

/* Optional: Style the icon to appear before the text */
.logout-form .fa-house {
  margin-right: 5px; /* Adjust spacing between the icon and text */
}

.fa-solid {
	font-size: 150%;
	padding-left: 30px;
	order: -1;
}
/* Style the submit inputs to look like plain text */
.logout-form input[type="submit"] {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  color: inherit;
}

/* Optional: Style the icon to appear before the text */
.logout-form .fa-house {
  margin-right: 5px; /* Adjust spacing between the icon and text */
}


#logoutMetNaam {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 14px; /* Customize font size if needed */
	color: #000; /* Set the desired text color */
	cursor: pointer;
}
.fa-solid{
	margin-right:0.5rem;
	font-size:25px;
}