<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/navbarStyle.css}" />
<link rel="stylesheet" th:href="@{/css/animalDetailStyle.css}" />
<script src="https://kit.fontawesome.com/yourcode.js"
	crossorigin="anonymous"></script>

<title>animal Detailpagina</title>
</head>
<body>
	<div th:insert="~{utils :: navbar}"></div>



	<div id="detailContainer">
		<div id="detailWrapper">
			<div id="detail">

				<div id="titleEnButton">
					<div id="titleLinks">
						<h3 id="animaltitle">Animal detailpagina</h3>
						<div id="reserveButton">
							<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
								<form th:if="${adopted == false}"
									th:action="@{/AddAnimalAdoption/{identificatiecode}(identificatiecode=${animal.identificatiecode})}"
									method="post">
									<button id="flexButton" type="submit">
										<span>Adopt</span>
									</button>
								</form>

								<form th:if="${adopted == true}"
									th:action="@{/RemoveAnimalAdoption/{identificatiecode}(identificatiecode=${animal.identificatiecode})}"
									method="post">
									<button id="flexButton" type="submit">
										<span>Cancel adoption (admin)</span>
									</button>
								</form>
							</div>
							<div
								th:unless="${#authorization.expression('hasRole(''ADMIN'')')}">
								<form th:if="${adopted == false}"
									th:action="@{/AddAnimalAdoption/{identificatiecode}(identificatiecode=${animal.identificatiecode})}"
									method="post">
									<button id="flexButton" type="submit">
										<span>Adopt</span>
									</button>
								</form>

								<div id="alreadyAd" th:if="${adopted == true && owner != true}">
										<span>Already Adopted</span>
								</div>

								<form th:if="${adopted == true && owner == true}"
									th:action="@{/RemoveAnimalAdoption/{identificatiecode}(identificatiecode=${animal.identificatiecode})}"
									method="post">
									<button id="flexButton" type="submit">
										<span>Cancel adoption</span>
									</button>
								</form>
							</div>


						</div>
					</div>
				</div>
				<div id="animalDetail">

					<div id="imgPart">
						<img id="animalImg" th:alt="${animal.name}" th:src="${animal.img}">
					</div>
					<div id="informationSep">
						<div id="animalInfo">
							<div id="information">
								<p th:text="|Name: ${animal.name}|"></p>
								<p th:text="|Breed: ${animal.breed}|"></p>
								<p th:text="|Gender: ${animal.gender}|"></p>
								<p th:text="|Age: ${age}|"></p>
								<p th:text="|Medical cost: ${#numbers.formatDecimal(animal.medicalCost,0,'COMMA',2,'POINT')}|"></p>
	


							</div>
							<div id="specifications">
								<ul>

									<li><i th:if="${animal.kanMet[0]}"
										class="fa-solid fa-check"></i> Compadable with little
										childeren</li>
									<li><i th:if="${animal.kanMet[1]}"
										class="fa-solid fa-check"></i> Compadable with older childeren</li>
									<li><i th:if="${animal.kanMet[2]}"
										class="fa-solid fa-check"></i> Compadable with cats</li>
								</ul>
								<ul>
									<li><i th:if="${animal.kanMet[3]}"
										class="fa-solid fa-check"></i> Compadable with dogs</li>
									<li><i th:if="${animal.kanMet[4]}"
										class="fa-solid fa-check"></i> Suitable as an indoor cat</li>
									<li><i th:if="${adopted}" class="fa-solid fa-check"></i>
										Already reserved</li>
								</ul>
							</div>


						</div>

						<div id="locationDetails">
							<ul>
								<li>Code 1</li>
								<li>Code 2</li>
								<li>Cage Name</li>
							</ul>
							<div id="verblijfplaatsen"
								th:each="verblijfplaats, iStat: ${animal.verplijfplaatsen}">
								<p
									th:text="|${iStat.count}. &emsp;&emsp;${verblijfplaats.hokcode1}&emsp;&emsp;&emsp;&emsp;${verblijfplaats.hokcode2}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;${verblijfplaats.hoknaam}|"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>